@media screen and (max-width:600px) {
    
          /* header */
    
    nav{
        flex-direction: column;
        width: 600px;
    } 
    
    .Travel{
        width: 600px;
        margin-left: 40px;
    }
    .Travel-A h1{
        color: #0e0e0e;
        font-size: 54px;
        padding: 20px 0px 0px 0px;
    }
    .Travel-A p{
        color: #0e0e0e;
    }
    .Travel-B{
        margin-left: 30px;
        width: 287px;
        padding: 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }
    .Travel-B button{
        width: 274px;
    }




                /* section==  02 */
    
    .Tours{
         flex-direction: column;
         padding: 30px;
    }  
    .Tours-A{
        width: 600px;
        height: 500px;
    }           
    .Tours-C{
        margin-left:30px ;
    }


                /* <!-- section== 03 --> */
      
    .Destination{
        width: 600px;
        margin-left: 15px;
    }
    
    .img-container{
            
        grid-template-areas:
        "grid-item-1  grid-item-1  grid-item-1  grid-item-1" 
        "grid-item-2  grid-item-2  grid-item-2  grid-item-2" 
        "grid-item-3  grid-item-3  grid-item-3  grid-item-3" 
        "grid-item-4  grid-item-4  grid-item-4  grid-item-4" 
        "grid-item-5  grid-item-5  grid-item-5  grid-item-5" 
        "grid-item-6  grid-item-6  grid-item-6  grid-item-6" 
        "grid-item-7  grid-item-7  grid-item-7  grid-item-7" ;
            
    }
    .grid-item-1{
        margin-left: 20px;
    }
    .grid-item-2{
        margin-top: 300px;
        margin-left: 22px;
    }
    .grid-item-3{
        margin-left: 20px;
    }
    .grid-item-3 img{
        width: 570px;
        height: 300px;
    }
    .grid-item-3 h4{
        margin-left: 230px;
    }
    .grid-item-4{
        margin-left: 20px;
    }
    .grid-item-4 img{
        width: 570px;
        height: 300px;
    }
    .grid-item-5{
        margin-top: 300px;
        margin-left: 22px;
    }
    .grid-item-5 img {
        width: 570px;
        height: 300px;
    }
    .grid-item-5 h4{
        margin-left: 230px;
    }
    .grid-item-6{
        margin-left: 22px;
    }
    .grid-item-6 img{
        width: 570px;
        height: 300px;
    }
    .grid-item-6 h4{
        margin-left: 220px;
    }
    .grid-item-7{
        margin-left: 22px;
    }
    .grid-item-7 img{
        width: 570px;
        height: 300px;
    }
    .grid-item-7 h4{
        margin-left: 220px;
    }


    /* <!-- section== 04 --> */


    .Choose{
        width: 600px;
    }
    .Choose-B{
       flex-direction: column;
    }
    .Choose-C{
        margin-left: 5px;
    }
    .Choose-E{
        margin-left: 0;
        width: 573px;
    }


    /* <!-- section== 06 --> */

    .Simple{
        flex-direction: column;
    }
    .Simple-A{
        width: 600px;
        height: 500px;
        margin-left: 30px;
    }
    .Simple-B{
        margin-left: 30px;
        margin-top: -60px;
    }
    .Simple-B h4{
        margin-left: -500px;
    }


    /* <!-- section== 07 --> */

    .Newsletter{
        margin-top: 300px;
        margin-left: 30px;
        width: 600px;
        flex-direction: column;
    }    

    /* footer */

   footer{
    width: 680px;
   } 
        
               
}
